<mt:setvarblock name="html_head" append="1">
<link rel="stylesheet" type="text/css" href="<mt:var name="static_uri">plugins/ActionStreams/css/action-streams.css" />

    <style type="text/css">
    <!--
        <mt:loop name="service_styles">
        .service-<mt:var name="service_type"> { background-image: url(<mt:var name="service_icon">); }
        </mt:loop>
        .event-shown { background-image: url(<mt:var name="static_uri">images/status_icons/success.gif); }
        .event-hidden { background-image: url(<mt:var name="static_uri">images/status_icons/warning.gif); }
    // -->
    </style>

</mt:setvarblock>

<mt:setvarblock name="jq_js_include" append="1">

jQuery(window).bind('listReady', function() {
	jQuery('td.service').each(function(index, domEle) {
		var $this = jQuery(domEle);
		if ($this.children('span').length) {
			return;
		}
		var $span = jQuery('<span></span>').addClass('service-icon').addClass( 'service-' + $this.text().toLowerCase() );
		$this.wrapInner( $span );
	})
});

</mt:setvarblock>


